body{
  font-family: "Questrial", serif;
  margin: 0;
  padding: 0;
}

.nav-area {
  background-color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 12px;
  height: 50px;
  position: sticky;
  top: 0;
 
}

.hed-para{
  /* background-color: black; */
  display: flex;
  width: 20%;
}

.hed-pa{
  color: white;
}

.desk-nav{
  display: flex;
  justify-content: space-between;
}

.ul-main {
  display: flex;
  justify-content: end;
  gap: 1em;
}
.ul-main>li{
  display: flex;
  align-items: center;
  width: auto;
}
.ul-main>li>a {
  color: white;
}
nav {
  display: flex;
  justify-content: end;
  width: 80%;
  align-items: center;
}

span {
  border: 1px solid #4d4b4b;
  height: 3vh;
  margin: auto 0px;
}

.socal-med {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: auto;
  gap: 1rem;
}

.main > .inp {
  display: none;
}

.mob-area{
  width: 80%;
  display: flex;
  justify-content: end;
}

.mob-menu{
  display: none;
  }

/*___nav area complete__*/

/* main-area Start */
.main-area {
  background-image: linear-gradient(95deg, black, rgb(5 78 86), black);
  width: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
 
}

.main-area p {
  color: rgba(255, 253, 253, 0.674);
  font-size: 18px;
  margin: 12px 200px;
}


/* main-area End */

/* fixed value */
.main-area h1{
 color: #FFFFFF;
 font-size: 40px;
 margin: 0;
 font-family: "Roboto", serif;
}
.main-area h1 samp{
  color: #4ADE80;
}

.main-area video {
  overflow: hidden;
  width: 90vw;
  
}
.main{
  display: none;
}

/* fixed value */

ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
/* fixed value-end */
/* ______Mobile_Area start______ */
@media screen and (max-width: 600px){
  /* nav area */
  .mob_nav{
    display: inline-block;
  } 
.main-area{
  display: none;
}
.socal-med{
  display: none;
}
.socal-med_mob{
  margin: 0px 10px;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;
width: auto;
gap: 10px;
}
/* Mobile nav bar */
.mob_menu{
display: block;
}
.main {
  color: white;
  background-color:black;
  padding: 3px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.main > .inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: #0e0e0e;
  color: #ffff;
  border-radius: 10px;
  position: absolute;
  width: 43vw;
  left: -36px;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 10px 21px;
  /* border-radius: inherit; */
  transition: background-color 0.2s 0s;
  position: relative;
  /* transform: translateY(30px); */
  opacity: 0;
  margin-left: 16px;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(30, 30, 30);
}

.inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}
.bar-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
	display: flex;
	height: 50%;
	width: 20px;
	flex-direction: column;
	gap: 3px;
	left: 179px;
	position: relative;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.4s;
  position: relative;
}

.inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}
/* search option start */


.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  /* --timing: 0.3s; */
  --width-of-input: 190px;
  --height-of-input: 31px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 30px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  background: var(--input-bg,#fff);
  margin: 10px auto;
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

input:focus {
  outline: none;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}
/* search option start */

/*_nav area complete_ */

/* --main Area start-- */
.main-area h1:nth-child(1) {
  color: #FFFFFF;
  font-size: 25px;
  margin: 10px 34px;
  font-family: "Roboto", serif;
}
.main-area h1:nth-child(2) {
  color: #FFFFFF;
  font-size: 25px;
  margin: 0px 5px;
  font-family: "Roboto", serif;
}

.main-area p {
  color: rgba(255, 253, 253, 0.674);
  font-size: 18px;
  margin: 16px 5px;
  text-align: center;
}
/* video area start */
.main-area video {
  overflow: hidden;
  width: 90vw;
  
}
/* video area end */

/* --main Area start-- */


}
/* ______Mobile_Area end______ */