body{
  font-family: "Questrial", serif;
  margin: 0;
  padding: 0;
}
/* fixed values */

ul{
  list-style: none;
}
a{
  text-decoration: none !important;
  
}

/* nav start */
.nav-area {
  background-color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 12px;
  height: 50px;
  position: sticky;
  top: 0;
 z-index: 2;
}

.hed-para{
  /* background-color: black; */
  display: flex;
  width: 20%;
}

.hed-pa{
  color: white;
}

.desk-nav{
  display: flex;
  justify-content: space-between;
}

.ul-main {
  display: flex;
  justify-content: end;
  gap: 1em;
}
.ul-main>li{
  display: flex;
  align-items: center;
  width: auto;
}
.ul-main>li>a {
  color: white;
}
nav {
  display: flex;
  justify-content: end;
  width: 80%;
  align-items: center;
}

span {
  border: 1px solid #4d4b4b;
  height: 3vh;
  margin: auto 0px;
}

.socal-med {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: auto;
  gap: 1rem;
}

.main > .inp {
  display: none;
}

.mob-area{
  width: 80%;
  display: flex;
  justify-content: end;
}

.mob-menu{
  display: none;
  }

/*___nav area complete__*/
/* parent  */
.parent {
  background-image: linear-gradient(324deg, black, rgb(3 48 53), black);
}
/* main-area Start */

.main-area {
  /* background-image: linear-gradient(95deg, black, rgb(5 78 86), black); */
  width: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-area h1:nth-child(1) {
  color: #FFFFFF;
  font-size: 70px;
  margin: 20px 34px 5px 34px;
  font-family: "Roboto", serif;
  font-weight: 1000;
}
.main-area h1:nth-child(2) {
  color: #FFFFFF;
  font-size: 70px;
  margin: 0px auto;
  font-family: "Roboto", serif;
  font-weight: 1000;
}

.main-area p, .scnd-para {
  color: rgba(255, 253, 253, 0.771);
  font-size: 22px;
  margin: 5px 50px 50px 50px;
}
.main-area h1 samp{
  color: #4ADE80;
  font-weight: bold;
  font-family: "Roboto", serif;
  font-size: 70px;
}


/* main-area End */

/* fixed value */



.main-area video {
  overflow: hidden;
  width: 80vw;
}
.main{
  display: none;
}
/* button area */
.btn-1 {
  background-color: rgba(255, 255, 255, 0.926);
  margin: 50px auto;
  border: 3px rgba(137, 137, 137, 0.322) solid;
  border-style: outset;
  outline: none;
  height: 42px;
  width: 250px;
  border-radius: .4rem;
  box-shadow: -2px 0px 12px 0px rgba(255, 166, 0, 0.823), 2px 0px 8px 0px rgba(0, 128, 0, 0.113);
 transition:box-shadow .9s ease .1s ,height .9s ease .1s ,width .9s ease .1s;;
}

.btn-1:hover {
  box-shadow: -8px 1px 20px 0px rgb(255 166 0 / 64%), 3px 0px 20px 0px rgb(0 128 0 / 51%);
  height: 41.8px;
  width: 249px;
}

.btn-1 a{
  color: rgba(0, 0, 0, 0.826);
  font-weight: bold;

}

/* _____2nd Area start______ */
main.scnd-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scnd-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.scnd-cont p {
  color: rgb(255, 253, 253, 0.771); 
}

.scnd-cont h3 {
  margin: 50px 0px 0px 0px;
  font-size: 70px;
}

.scnd-cont samp{
  color: #4ADE80;

}

.scnd-video{
  /* height: 50vh; */
  display: flex;
  align-content: center;
  padding-bottom: 30px;
  margin: 0 auto;
}


/*media parent and child-start*/

.sv-cont {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px 50px 20px;
  gap: 1rem;
}

.sv-cont>.sv-co1,.sv-co2,.sv-co3{
  width: 30vw;
 height: 200px;
 justify-content: start;
 display: flex;
 top: 0;
overflow: hidden !important;
 h4{
  color: #f4f4f4f4;
  margin: 2px 0 0 2px;
  height: 29px;
  width: auto;
  font-size: 20px;
  font-weight: bolder;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(100);
  background-color: #0000002e;
 }
}

.sv-cont .sco1{
  background-image: url(./media/mid-area.jpg);
  background-position: center;
  background-size: cover;
}

.sv-cont .sco2{
  background-image: url(./media/mid-area2.jpg);
  background-position: center;
  background-size: cover;
}

.sv-cont .sco3{
  background-image: url(./media/mid-area3.jpg);
  background-position: center;
  background-size: cover;
}
/*parent and child-end*/

/* _____2nd Area End______ */

/* _____3rd Area start______ */

.tco1{
  background-image:url(./media/3rd-area-code1.jpg);
  background-position: center;
  background-size: cover;
}

.tco2{
  background-image:url(./media/3rd-area-code2.jpg);
  background-position: center;
  background-size: cover;
}

/* _____3rd Area end______ */

/* _____4th Area Start______ */
.parent-crd{
  width: 60vw;
  align-self: start ;
  margin-left: 3vw;
}
.child-crd{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 50px ;
  h1{
    font-weight: bold;
    font-size: 30px;
  
  }
}
/* _____4th Area End______ */

/* _____5th Area Start______ */
.fth-crd-p{
  
}

/* _____5th Area End______ */








/* ______Mobile_Area start______ */

@media screen and (max-width: 728px){
  /* nav area */
.desk-nav{
    display: none;
  }
.mob_nav{
    display: inline-block;
  } 

.socal-med{
  display: none;
}

/* Mobile nav bar */

.main {
  color: white;
  background-color:black;
  padding: 3px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.main > .inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: #0e0e0e;
  color: #ffff;
  border-radius: 10px;
  position: absolute;
  width: 50vw;
  left: -20px;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 10px 21px;
  /* border-radius: inherit; */
  transition: background-color 0.2s 0s;
  position: relative;
  /* transform: translateY(30px); */
  opacity: 0;
  margin-left: 16px;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(30, 30, 30);
}

.inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}
.bar-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
	display: flex;
	height: 50%;
	width: 20px;
	flex-direction: column;
	gap: 3px;
	left: 179px;
	position: relative;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.4s;
  position: relative;
}

.inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}
/* search option start */


.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  /* --timing: 0.3s; */
  --width-of-input: 190px;
  --height-of-input: 31px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 30px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  background: var(--input-bg,#fff);
  margin: 10px auto;
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

input:focus {
  outline: none;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}


/*_nav area complete_ */

/* --main Area start-- */
.main-area h1:nth-child(1) {
  font-size: 58px;
  margin: 80px 5px 0 0;
}

.main-area h1 samp {
  font-weight: bold;
  font-size: 64px;
}

.main-area h1:nth-child(2) {
  font-size: 50px;
  margin: 5px 34px;

}

.main-area p {
  color: rgba(255, 253, 253, 0.674);
  font-size: 18px;
  margin: 16px 5px;
  text-align: center;
}

/* video area start */
.main-area video{
  overflow: hidden;
  width: 90vw;
  
}
/* video area end */

/* --main Area start-- */
.main-area p, .scnd-para {
  font-size: 18px;
  margin: 12px 8vw;
}

.scnd-video {
  height: 20vh;
  /* width: 100vw; */
  padding-bottom: 15px;
  overflow: hidden;
}

.scnd-video video {
  /* width: 120vh; */
  /* height: 10vh; */
}

/*media parent and child-start*/

.sv-cont{
  flex-direction: column;
}

.sv-cont>.sv-co1,.sv-co2,.sv-co3{
 height: 30vh;
 width: 90vw;
 h4{
 font-size: 10px;
 height: 21px;
 }
 .scnd-cont h3{
  font-size: 10px !important;
  height: auto;
  margin: 0 !important;
}
}

/*parent and child-end*/

/* _____2nd area end_____ */

/* 4th area strat*/
.parent-crd{
  width: 90vw;
}
/* 4th area strat*/

}
/* ______Mobile_Area end______ */